<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>grizzly-store-vendor-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Vendormain</servlet-name>
    <servlet-class>Vendormain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendormain</servlet-name>
    <url-pattern>/vendordisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addproduct</servlet-name>
    <servlet-class>Addproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addproduct</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vendorlogin</servlet-name>
    <servlet-class>Vendorlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendorlogin</servlet-name>
    <url-pattern>/vendorlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vendorlogout</servlet-name>
    <servlet-class>Vendorlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendorlogout</servlet-name>
    <url-pattern>/vendorlogout</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Vendordelete</servlet-name>
    <servlet-class>Vendordelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendordelete</servlet-name>
    <url-pattern>/deleteproduct</url-pattern>
  </servlet-mapping>
</web-app>